* {
  font-weight: 200;
}

.project {
  margin-top: 3rem;
  margin-left: 7%;
}

.sub-heading {
  margin-top: 2rem;
}

.snippet-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.workBox-grid {
  border: 1px solid red;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* .screen {
  border: 2px green solid;
  min-height: 40vh;
  margin-top: 3rem;
}

.screen1 {
  background-color: #3a3a3a;
}

.screen2 {
  background-color: #8acef4;
}

.screen3 {
  background-color: #dbdada;
} */
